/* 头部导航栏开始 */
.topnav {
  position: relative;
  height: 68px;
  background: url(../img/nav_bg.jpg);
  width: 100%;
  z-index: 111;
}

.tonav-left {
  float: left;
}
.tonav-left img {
  height: 46px;
  margin-left: 50px;
  margin-top: 12px;
}
.tonav-content {
  height: 100%;
  float: left;
  margin-left: 72px;
}

.tonav-content {
  height: 69px;
}
.tonav-content li {
  float: left;
  margin-left: 62px;
}
.tonav-content a {
  position: relative;
  display: block;
  line-height: 69px;
  color: #ffffff;
  font-size: 20px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  width: 85px;
  height: 100%;
  float: left;
  position: relative;
}

.tonav-content {
  font-size: 18px;
  float: left;
}
.tonav-content a {
  color: #fff;
  text-align: center;
  width: 85px;
  height: 100%;
  float: left;
  position: relative;
}
.tonav-content a:not(:last-child) {
  margin-right: 50px;
}
.tonav-content a:not(.current):before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: 100%;
  bottom: 0;
  z-index: 2;
  border-bottom: 4px solid;
  -webkit-transition: all 0.2s linear;
  -o-transition: 0.2s all linear;
  transition: all 0.2s linear;
}
.tonav-content a:not(.current):hover:before {
  width: 100%;
  left: 0;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.tonav-right {
  float: right;
  width: 260px;
  height: 100%;
}
.tonav-right a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/nav-right.png);
}
.tonav-right a:hover {
  background-position-y: -69px;
}

/* 头部导航栏结束 */

/* 轮播图开始 */
.carousel {
  position: relative;
  height: 1011px;
  width: 100%;
  /* background: url(../img/mian_bg.png) no-repeat; */
  background-color: #000000;
  /* background-size: cover; */
}
.carousel .video-bg {
  position: absolute;
  left: 697px;
  top: 435px;
  width: 527px;
  height: 306px;
  transform: scale(0.9);
}
.carousel-title {
  position: absolute;
  top: 60px;
  left: 500px;
}

.carousel .video1 {
  position: absolute;
  width: 511px;
  height: 290px;
  left: 704px;
  top: 444px;
  transform: scale(0.9);
}
.carousel .video2 {
  margin-top: -74px;
  width: 100%;
}

/* 轮播图结束 */
/* 视频开始 */
.section {
  position: relative;
  height: 850px;
}
.section div {
  float: left;
  width: 50%;
  height: 850px;
}

.section div video {
  width: 100%;
  height: 100%;
  z-index: 111;
}
.section-left {
  background: url(../img/section-left.png) no-repeat;
}
.section-right {
  background: url(../img/section-right.png) no-repeat;
}
/* 视频结束 */
/* 武器开始 */
.wuqi {
  position: relative;
}

.wuqi > img {
  width: 1903px;
}
.wuqi ul {
  position: absolute;
  /* top: 0; */
  /* bottom: 332px; */
  top: 50px;
}
.wuqi li {
  float: left;
  margin-left: 66px;
}

.wuqi li img {
  margin-top: 50px;
  display: block;
}
.wuqi li img:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}

.wuqi li a {
  display: block;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
/* 武器结束 */
.guanwang {
  position: absolute;
  width: 100%;
  bottom: 90px;
}
.guanwang a {
  float: left;
  width: 860px;
  height: 170px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 170px;
  background-color: hsla(0, 0%, 100%, 0.3);
  margin-left: 50px;
}

.guanwang a:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
}

/* 底部开始 */
.footer {
  height: 221px;
  width: 100%;
  margin-top: -3px;
  background: url(../img/bg_quangwang.jpg);
  overflow: hidden;
}

.footer-w {
  width: 1314px;
  height: 42px;
  margin: 0 auto;
  margin-top: 96px;
}
.footer-w a {
  float: left;
  height: 100%;
}
.footer-w .footer-icon1 {
  width: 106px;
  background: url(../img/footer.png) no-repeat;
}

.footer-w .footer-icon2 {
  width: 122px;
  background: url(../img/footer.png) no-repeat;
  margin-left: 50px;
  background-position-x: -142px;
}
.footer-w .footer-icon3 {
  width: 106px;
  margin-left: 34px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -300px;
}
.footer-w .footer-icon4 {
  width: 91px;
  margin-left: 128px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -526px;
}
.footer-w .footer-icon5 {
  width: 91px;
  margin-left: 40px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -654px;
}
.footer-w .footer-icon6 {
  width: 91px;
  margin-left: 48px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -778px;
}
.footer-w .footer-icon7 {
  width: 170px;
  margin-left: 140px;

  background: url(../img/footer.png) no-repeat;
  background-position-x: right;
}

.footer-w a:hover {
  background-position-y: -44px;
}

.footer-w a:nth-child(n + 4):hover {
  background-position-y: -42px;
}
.bottom {
  width: 100%;
  height: 152px;
  background-color: #000000;
}

.footer-w .footer-icon5 img,
.footer-w .footer-icon4 img {
  position: absolute;
  margin-top: -166px;
  margin-left: -30px;
  z-index: 222;
  display: none;
}

.footer-w .footer-icon5:hover img,
.footer-w .footer-icon4:hover img {
  display: block;
}

.bottom {
  height: 160px;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  font-size: 12px;
}

.bottom-top {
  margin-top: 40px;
}
.bottom-top div {
  float: left;
  color: #999;
}

.bottom-top img:nth-child(1) {
  margin-left: 362px;
}
.bottom-top img:nth-child(2) {
  margin-left: 27px;
}

.bottom-top-right {
  margin-left: 12px;
}
.bottom-title {
  color: #555555;
  text-align: center;
  margin-top: 23px;
}

.bottom-title p {
  width: 756px;
  margin: 0 auto;
}
.bottom-title a {
  color: #53bdfa;
}

.bottom-title a img {
  float: left;
  margin-top: -2px;
}
/* 底部结束 */
