/* 版心 */
.container {
  position: relative;
  margin: 0 auto;
  width: 1920px;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  content: "";
  /* 既让伪元素变成块级 还让他们排在一行 */
  display: table;
}

.clearfix:after {
  clear: both;
}

/* 兼容ie 6 7 */
.clearfix {
  *zoom: 1;
}


article, aside, blockquote, body, button, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin:0;
  padding:0;
  font:inherit
}
h1, h2, h3, h4, h5, h6 {
  font-weight:700
}
table {
  border-collapse:collapse;
  border-spacing:0
}
caption, th {
  text-align:left
}
fieldset, img {
  border:0
}
li {
  list-style:none
}
em, i {
  font-style:normal
}
body {
  color:#000;
  line-height:1.5;
  position:relative;
  background-color:#fff;
  font-family:microsoft yahei, Helvetica Neue, Helvetica, STHeiTi, sans-serif
}
button, input, optgroup, option, select, textarea {
  color:inherit;
  border-radius:0;
  font-size:inherit;
  font-weight:inherit;
  font-family:inherit;
  font-style:inherit
}
a {
  -webkit-touch-callout:none
}
:focus {
  outline:0;
  -webkit-tap-highlight-color:transparent
}
.wrapper {
  word-wrap:break-word;
  word-break:break-word;
  -webkit-text-size-adjust:100%
}
.wrapper *, .wrapper :after, .wrapper :before {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.csgo-navbar .col-logo, [class*=-col], [class|=col] {
  float:left
}
.csgo-navbar .user-box {
  float:right
}
.csgo-navbar-inner, .csgo-navbar-inner-hover .nav-items, .csgo-navbar-inner .nav-items, .csgo-navbar .w1300, [class*=-row], [class|=row] {
  *zoom:1
}
.csgo-navbar-inner-hover .nav-items:after, .csgo-navbar-inner .nav-items:after, .csgo-navbar-inner:after, .csgo-navbar .w1300:after, [class*=-row]:after, [class|=row]:after {
  content:"";
  display:table;
  clear:both
}
[class*=-col], [class|=col] {
  -webkt-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
[class*=-col1] {
  width:100%
}
[class*=-col2] {
  width:50%
}
[class*=-col3] {
  width:33.33333%
}
[class*=-col4] {
  width:25%
}
[class*=-col5] {
  width:20%
}
[class*=-col6] {
  width:16.66667%
}
[class*=-col7] {
  width:14.28571%
}
[class*=-col8] {
  width:12.5%
}
[class*=-col9] {
  width:11.11111%
}
[class*=-col10] {
  width:10%
}
[class*=-col11] {
  width:9.09091%
}
[class*=-col12] {
  width:8.33333%
}
h1, h2, h3, h4, h5, h6, label, li, p, td, th {
  cursor:text
}
a:active, a:hover, a:link, a:visited {
  cursor:pointer
}
body {
  color:#333;
  font-size:14px;
  width:100%;
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  font-family:\\5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif;
  background-color:#f7f8f8
}
h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:400
}
area, img {
  outline:none
}
img {
  border:0
}
ol, ul {
  list-style:none
}
a {
  font-family:\\5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif;
  outline:none
}
a, a:hover {
  text-decoration:none
}
.clearfix:after {
  content:"";
  display:block;
  height:0;
  clear:both
}
.clearfix {
  zoom:1
}
.csgo-navbar .navbox {
  background:#111521;
  width:100%;
  line-height:1.35;
  position:relative;
  min-width:1230px;
  border-top:2px solid #6b9ac8
}
.csgo-navbar .nav {
  width:1230px;
  height:80px;
  margin:0 auto;
  position:relative
}
.csgo-navbar .logo {
  width:134px;
  height:64px;
  padding:8px 0 8px 23px;
  float:left;
  margin-right:100px;
  -webkit-box-sizing:content-box;
  box-sizing:content-box
}
.csgo-navbar .logo a {
  display:block;
  width:100%;
  height:64px
}
.csgo-navbar .logo a img {
  display:block;
  height:100%
}
.csgo-navbar .nav_list {
  float:left;
  padding-top:20px
}
.csgo-navbar .nav_list a {
  color:#fff;
  font-size:18px;
  display:block;
  height:57px;
  margin:0 25px;
  float:left;
  position:relative
}
.csgo-navbar .nav_list a p {
  font-size:10px;
  font-size:12px;
  cursor:pointer
}
.csgo-navbar .nav_list a h4 {
  font-size:16px;
  cursor:pointer
}
.csgo-navbar .nav_list a span {
  background:#3b92e6;
  display:none;
  width:100%;
  height:3px;
  position:absolute;
  left:0;
  top:100%
}
.csgo-navbar .nav_list a.on, .csgo-navbar .nav_list a:hover {
  border-bottom:3px solid #566e95
}
.csgo-navbar .topbar2 {
  position:relative
}
.csgo-navbar .topbar2 .icon2 {
  width:32px;
  height:32px;
  margin:0 12px;
  float:left;
  background-image:url(//www.csgo.com.cn/web201709/img/icon_top.png);
  background-repeat:no-repeat
}
.csgo-navbar .topbar2.in a:hover, .csgo-navbar .topbar2.out a:hover {
  border:0
}
.csgo-navbar .topbar2.in .btn_log_in {
  display:none!important
}
.csgo-navbar .topbar2.in .log_out, .csgo-navbar .topbar2.out .btn_log_in {
  display:block!important
}
.csgo-navbar .topbar2.out .log_out {
  display:none!important
}
.csgo-navbar .log_out em {
  font-style:normal
}
.csgo-navbar .user_info {
  background:#111521;
  display:none;
  width:419px;
  height:306px;
  padding:12px 18px 0;
  position:absolute;
  top:100%;
  right:0;
  z-index:3
}
.csgo-navbar .topbar2.out:hover .user_info {
  display:block
}
.csgo-navbar .user_info h3 {
  color:#e1e4ef;
  font-size:18px;
  height:30px;
  line-height:30px;
  margin-bottom:12px;
  cursor:default;
  border-bottom:1px solid #31384d
}
.csgo-navbar .topbar2 .user_info h3 a {
  background:url(//www.csgo.com.cn/web201709/img/icon_info.png) no-repeat 50%;
  padding:9px;
  float:none;
  margin-left:5px
}
.csgo-navbar .user_info .csgoInfo {
  width:100%;
  height:110px;
  margin-bottom:16px
}
.csgo-navbar .user_info .csgoInfo .headImg {
  border:1px solid #31384d;
  width:108px;
  height:108px;
  overflow:hidden;
  float:left;
  margin-right:26px
}
.csgo-navbar .user_info .csgoInfo .txz_info {
  float:left;
  padding-top:14px
}
.csgo-navbar .user_info .csgoInfo .txz_info p {
  color:#a4adc8;
  font-size:14px;
  height:30px;
  line-height:30px;
  font-style:normal
}
.csgo-navbar .user_info .csgoInfo em {
  font-style:normal
}
.csgo-navbar .user_info .txz p {
  color:#a4adc8;
  height:28px;
  line-height:28px
}
.csgo-navbar .user_info .txz p span {
  float:left
}
.csgo-navbar .user_info .txz p em {
  float:left;
  font-style:normal
}
.csgo-navbar .user_info .txz em.icon {
  color:#6985b3;
  margin-right:8px;
  padding-left:18px;
  background-repeat:no-repeat;
  background-position:0
}
.csgo-navbar .user_info .txz em.icon.icon_fcm {
  background-image:url(//www.csgo.com.cn/web201709/images/main/icon_fcm.png)
}
.csgo-navbar .user_info .txz em.icon.icon_phone {
  background-image:url(//www.csgo.com.cn/web201709/images/main/icon_phone.png)
}
.csgo-navbar .user_info .txz em.icon.icon_mail {
  background-image:url(//www.csgo.com.cn/web201709/images/main/icon_mail.png)
}
.csgo-navbar .user_info .txz em.icon.icon_ry {
  background-image:url(//www.csgo.com.cn/web201709/images/main/icon_ry.png)
}
.csgo-navbar .nav_list a.icon2:hover {
  border-bottom:0
}
.csgo-navbar .ico2_wx {
  background-position:100% 0
}
.csgo-navbar .ico2_wb {
  background-position:0 0
}
.csgo-navbar .ico2_wx:hover {
  background-position:100% 100%
}
.csgo-navbar .ico2_wb:hover {
  background-position:0 100%
}
.csgo-navbar .pop_wx {
  display:none;
  position:absolute;
  left:50%;
  top:80px;
  z-index:100;
  margin-left:457px
}
.csgo-navbar .pop_wx, .csgo-navbar .pop_wx img {
  width:145px;
  height:145px
}
.csgo-navbar .nav_btn {
  background:url(//www.csgo.com.cn/web201709/img/bg_nav_btn.jpg) no-repeat 50%;
  color:#fff;
  font-size:18px;
  text-align:center;
  width:100%;
  height:34px;
  line-height:32px;
  position:relative
}
.csgo-navbar .nav_btn span {
  background:url(//www.csgo.com.cn/web201709/img/icon_navBtn.png) no-repeat top;
  width:14px;
  height:7px;
  position:absolute;
  left:50%;
  top:14px;
  margin-left:76px
}
.csgo-navbar .nav_btn.on span {
  background-position:bottom
}
.csgo-navbar .nav_process_box {
  background:#d7d7d7;
  width:100%;
  height:232px;
  overflow:hidden;
  margin:0 auto;
  position:relative;
  max-width:1920px
}
.csgo-navbar .nav_process {
  width:1230px;
  height:178px;
  margin:0 auto;
  padding-top:22px
}
.csgo-navbar .process_top01 {
  background:url(//www.csgo.com.cn/web201709/img/process_bottom02.png) no-repeat bottom;
  width:216px;
  height:30px;
  float:left;
  position:relative
}
.csgo-navbar .process_top01 span {
  color:#826c4c;
  font-size:16px;
  position:absolute;
  left:66px;
  top:16px
}
.csgo-navbar .process_top02 {
  background:url(//www.csgo.com.cn/web201709/img/process_top.png) no-repeat bottom;
  width:504px;
  height:30px;
  float:left;
  position:relative;
  margin-left:146px
}
.csgo-navbar .process_top02 span {
  color:#27354e;
  font-size:18px;
  position:absolute;
  left:190px;
  top:16px
}
.csgo-navbar .process_top03 {
  background:url(//www.csgo.com.cn/web201709/img/process_bottom03.png) no-repeat bottom;
  width:216px;
  height:30px;
  float:left;
  position:relative;
  margin-left:138px
}
.csgo-navbar .process_top03 span {
  color:#826c4c;
  font-size:16px;
  position:absolute;
  left:21px;
  top:16px
}
.csgo-navbar .process_top03 a {
  background:url(//www.csgo.com.cn/web201709/img/icon_notes.png) no-repeat 100%;
  color:#ff8054;
  font-size:16px;
  position:absolute;
  left:58px;
  top:37px;
  text-decoration:underline;
  padding-right:20px
}
.csgo-navbar .process {
  width:1240px;
  height:136px
}
.csgo-navbar .process li {
  width:236px;
  height:80px;
  float:left;
  position:relative;
  margin-right:12px;
  padding-top:56px;
  cursor:default;
  background-image:url(//www.csgo.com.cn/web201709/img/process.jpg);
  background-repeat:no-repeat;
  -webkit-box-sizing:content-box;
  box-sizing:content-box
}
.csgo-navbar .step_01 {
  background-position:0 0
}
.csgo-navbar .step_02 {
  background-position:0 -136px
}
.csgo-navbar .step_03 {
  background-position:0 -272px
}
.csgo-navbar .step_04 {
  background-position:0 -408px
}
.csgo-navbar .step_05 {
  background-position:0 -544px
}
.csgo-navbar .process li p {
  color:#fff;
  font-size:16px;
  text-align:center;
  width:100%;
  line-height:20px;
  margin-bottom:10px;
  padding-top:22px
}
.csgo-navbar .process li.step_01 p {
  padding-top:0;
  margin-top:12px
}
.csgo-navbar .process li p.size_m {
  color:#ad946c;
  font-size:12px;
  line-height:14px;
  padding-top:0
}
.csgo-navbar .process li.step_04 p.size_m {
  color:#fff;
  text-align:left;
  width:200px;
  line-height:20px;
  margin:0 auto
}
.csgo-navbar .process li.step_04 p.p_top {
  margin-top:6px
}
.csgo-navbar .process li.step_05 p {
  margin-bottom:5px
}
.csgo-navbar .process li.step_05 p.size_m {
  color:#c3b57f;
  text-align:left;
  width:192px;
  line-height:16px;
  margin:0 auto
}
.csgo-navbar .process li p a {
  background:url(//www.csgo.com.cn/web201709/img/icon_notes.png) no-repeat 100%;
  color:#ff8054;
  text-decoration:underline;
  padding-right:20px
}
.csgo-navbar .step_btn {
  background:#453318;
  border-radius:20px;
  text-align:center;
  width:182px;
  height:35px;
  line-height:35px;
  margin:0 auto;
  margin-top:18px
}
.csgo-navbar .step_01 .step_btn a {
  color:#fff;
  font-size:16px;
  display:block;
  width:100%;
  height:100%
}
.csgo-navbar .step_02 .step_btn {
  width:188px
}
.csgo-navbar .process li span {
  display:none;
  width:100%;
  height:107px;
  position:absolute;
  left:0;
  bottom:60px;
  z-index:100;
  background-repeat:no-repeat;
  background-position:50%
}
.csgo-navbar .process li.step_03 span {
  background-image:url(//www.csgo.com.cn/web201709/img/tab_txz.png)
}
.csgo-navbar .process li.step_02 span {
  background-image:url(//www.csgo.com.cn/web201709/img/tab_csgo.png)
}
.csgo-navbar .process_top03 .notes {
  background:url(//www.csgo.com.cn/web201709/img/tab_stem.png) no-repeat;
  display:none;
  width:236px;
  height:107px;
  position:absolute;
  left:-42px;
  top:-88px;
  z-index:100;
  background-repeat:no-repeat;
  background-position:50%
}
.csgo-navbar .count_list {
  width:350px
}
.csgo-navbar .count_box ul li a span {
  width:35px;
  height:35px;
  position:absolute;
  left:19px;
  top:20px;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s
}
.csgo-navbar .stats-input {
  display:none
}
.csgo-navbar .guides {
  background:#f7f8f8;
  width:350px;
  margin-top:20px
}
.csgo-navbar .guides_tit {
  width:100%;
  position:relative
}
.csgo-navbar .guides_tit .titlea {
  display:block;
  width:136px;
  height:22px
}
.csgo-navbar .guides_tit .list_more {
  color:#181a25;
  border:1px solid #181a25;
  font-size:12px;
  display:block;
  width:40px;
  height:20px;
  line-height:20px;
  padding:0 3px 0 5px;
  position:absolute;
  top:0;
  right:0
}
.csgo-navbar .guides_tit .list_more span {
  width:9px;
  height:9px;
  position:absolute;
  top:5px;
  right:4px;
  -moz-transition:all .5s;
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s
}
.csgo-navbar .guides_tit .list_more:hover span {
  -ms-transform:rotate(180deg) scale(1.2);
  -moz-transform:rotate(180deg) scale(1.2);
  -webkit-transform:rotate(180deg) scale(1.2);
  -o-transform:rotate(180deg) scale(1.2);
  transform:rotate(180deg) scale(1.2)
}
.csgo-navbar .guides_list {
  width:100%;
  overflow:hidden
}
.csgo-navbar .guides_list ul {
  width:100%;
  float:left;
  margin-bottom:14px;
  margin-right:28px
}
.csgo-navbar .guides_list li {
  text-align:center;
  float:left;
  margin-right:22px;
  margin-bottom:6px
}
.csgo-navbar .guides_list ul li.guides_list_tit {
  text-align:left;
  display:block;
  width:100%;
  margin-top:8px
}
.csgo-navbar .guides_list li a {
  color:#404040;
  display:block;
  height:20px
}
.csgo-navbar .guides_list li a:hover {
  color:#654b25;
  text-decoration:underline
}
.csgo-navbar .guides_list_tit {
  color:#333;
  font-size:16px;
  font-weight:700
}
.csgo-navbar .type_box {
  border:1px solid #eaebeb;
  width:348px;
  height:121px;
  margin-top:10px
}
.csgo-navbar .type_box div {
  width:89px;
  height:60px;
  line-height:60px;
  float:left;
  position:relative;
  padding-left:84px;
  background-color:#f9fafa
}
.csgo-navbar .type_box span {
  display:block;
  position:absolute;
  left:27px;
  top:17px
}
.csgo-navbar .type_box a {
  background:url(//www.csgo.com.cn/web201709/img/transparent.png) repeat;
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0
}
.csgo-navbar .type01 {
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc
}
.csgo-navbar .type01 span {
  background:url(//www.csgo.com.cn/web201709/img/icon/military_icon.png) no-repeat;
  width:48px;
  height:26px
}
.csgo-navbar .type02 {
  border-bottom:1px solid #ccc
}
.csgo-navbar .type02 span {
  background:url(//www.csgo.com.cn/web201709/img/icon/music_icon.png) no-repeat;
  width:39px;
  height:28px
}
.csgo-navbar .type03 {
  border-right:1px solid #ccc
}
.csgo-navbar .type03 span {
  background:url(//www.csgo.com.cn/web201709/img/icon/case_icon.png) no-repeat;
  width:37px;
  height:29px
}
.csgo-navbar .type04 span {
  background:url(//www.csgo.com.cn/web201709/img/icon/honor_icon.png) no-repeat;
  width:29px;
  height:31px
}
.csgo-navbar .ad_banner {
  width:340px;
  margin-bottom:30px
}
.csgo-navbar .ad_banner img {
  width:100%;
  height:152px;
  margin-top:2px
}
.csgo-navbar .btn_top {
  background:url(//www.csgo.com.cn/web201709images/list/top_icon.png) no-repeat;
  display:none;
  width:52px;
  height:52px;
  position:fixed;
  left:65%;
  bottom:270px;
  z-index:9;
  margin-left:387px
}
.csgo-navbar .btn_top a {
  display:block;
  height:52px
}
.csgo-navbar .topbar2 .log_out {
  color:#fff;
  font-size:14px;
  width:100%;
  height:50px;
  position:relative
}
.csgo-navbar .topbar2 .pop {
  text-align:left;
  display:none;
  width:427px;
  padding:18px;
  position:absolute;
  top:50px;
  right:-32px;
  z-index:1200;
  padding-right:10px;
  background-color:#111521
}
.csgo-navbar .topbar2 .pop_tit {
  color:#e1e4ef;
  font-size:18px;
  font-weight:700;
  height:30px;
  line-height:30px;
  position:relative;
  border-bottom:1px solid #31384d
}
.csgo-navbar .topbar2 .pop_tit a {
  background:url(//www.csgo.com.cn/web201709/images/pop/tips_icon.png) no-repeat;
  display:inline-block;
  vertical-align:middle;
  width:17px;
  height:17px
}
.csgo-navbar .userInfo {
  width:427px;
  overflow:hidden;
  margin-top:12px;
  margin-bottom:20px
}
.csgo-navbar .userInfo .portrait {
  border:1px solid #31384d;
  width:110px;
  height:110px;
  float:left
}
.csgo-navbar .userInfo .portrait img {
  width:110px;
  height:110px
}
.csgo-navbar .userInfo_none {
  color:#e1e4ef;
  font-size:14px;
  display:none;
  margin-top:6px
}
.csgo-navbar .user_state {
  float:left;
  padding-left:18px;
  margin-top:12px
}
.csgo-navbar .user_state li {
  color:#a4adc8;
  font-size:14px;
  line-height:30px
}
.csgo-navbar .user_state li span {
  width:76px;
  float:left
}
.csgo-navbar .user_state li em {
  display:inline-block;
  width:220px;
  overflow:hidden;
  font-style:normal;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis
}
.csgo-navbar .item .dl {
  padding:10px 0 6px
}
.csgo-navbar .item .dl .dt {
  width:98px
}
.csgo-navbar .item .dl .dd {
  margin-left:85px
}
.csgo-navbar .item .dl .dd strong {
  color:#a4adc8;
  font-size:14px
}
.csgo-navbar .item .dl .dt {
  color:#a4adc8;
  font-size:14px;
  width:85px;
  float:left
}
.csgo-navbar .item .dl .dd .stateList li {
  color:#a4adc8;
  font-size:14px;
  float:left;
  position:relative;
  padding-right:5px;
  margin-bottom:15px
}
.csgo-navbar .item .dl .dd .stateList li i {
  display:inline-block;
  vertical-align:-3px;
  width:16px;
  height:16px;
  margin-right:5px
}
.csgo-navbar .item .dl .dd .stateList li.state1 i {
  background:url(//www.csgo.com.cn/web201709/images/pop/state_icon01.png) no-repeat
}
.csgo-navbar .item .dl .dd .stateList li.state2 i {
  background:url(//www.csgo.com.cn/web201709/images/pop/state_icon02.png) no-repeat
}
.csgo-navbar .item .dl .dd .stateList li.state3 i {
  background:url(//www.csgo.com.cn/web201709/images/pop/state_icon03.png) no-repeat
}
.csgo-navbar .item .dl .dd .stateList li.state4 i {
  background:url(//www.csgo.com.cn/web201709/images/pop/state_icon04.png) no-repeat
}
.csgo-navbar {
  width:100%;
  height:70px;
  position:fixed;
  left:0;
  top:0;
  z-index:99
}
.csgo-navbar .col-logo {
  width:134px;
  height:64px;
  margin:4px 0
}
.csgo-navbar .col-logo img {
  vertical-align:top;
  height:100%
}
.csgo-navbar .w1300 {
  width:1300px;
  margin:0 auto
}
.csgo-navbar .user-box {
  color:#fff;
  text-align:center;
  width:170px;
  height:40px;
  line-height:40px;
  margin-top:15px
}
.csgo-navbar .user-box .login {
  color:#fff;
  display:block;
  width:100%;
  height:100%;
  background-color:#465560
}
.csgo-navbar .user-box .login:hover {
  background-color:#8f99a0
}
.csgo-navbar .user-box .login:before {
  content:"";
  background:url(/csgo2018/images/icon_user_2b22eb40dee95beabaf382fe8df9dda7.png) top no-repeat;
  display:inline-block;
  vertical-align:middle;
  width:18px;
  height:19px;
  position:relative;
  left:-10px;
  top:-2px
}
.csgo-navbar .user-box .log_out {
  display:none;
  width:100%;
  height:100%;
  white-space:nowrap
}
.csgo-navbar .user-box .log_out a {
  color:#566e95
}
.csgo-navbar .user-box .log_out .userName {
  display:inline-block;
  vertical-align:middle;
  overflow:hidden;
  max-width:98px;
  white-space:nowrap;
  -o-text-overflow:ellipsis;
  text-overflow:ellipsis
}
.csgo-navbar-inner {
  height:70px;
  position:relative;
  background-color:rgba(10, 26, 39, .9)
}
.csgo-navbar-inner .nav-items {
  margin-left:224px;
  margin-right:290px
}
.csgo-navbar-inner .nav-items li {
  color:#fff;
  font-size:18px;
  text-align:center;
  width:90px;
  float:left;
  position:relative
}
.csgo-navbar-inner .nav-items li:not(:last-child) {
  margin-right:25px
}
.csgo-navbar-inner .nav-items li:hover~li a:before {
  left:0
}
.csgo-navbar-inner .nav-items a {
  color:#fff;
  font-size:18px;
  display:block;
  height:70px;
  line-height:70px;
  position:relative
}
.csgo-navbar-inner .nav-items a:before {
  content:"";
  width:0;
  height:100%;
  position:absolute;
  left:100%;
  top:0;
  z-index:2;
  border-bottom:4px solid;
  -webkit-transition:all .2s linear;
  -o-transition:.2s all linear;
  transition:all .2s linear
}
.csgo-navbar-inner .nav-items a:hover:before {
  width:100%;
  left:0;
  top:0;
  -webkit-transition-delay:.1s;
  -o-transition-delay:.1s;
  transition-delay:.1s
}
.csgo-navbar-inner .nav-items .active a {
  border-bottom-color:#fff
}
.csgo-navbar-inner-hover {
  display:none;
  width:100%;
  overflow:hidden;
  padding:25px 0;
  position:absolute;
  left:0;
  top:70px;
  right:0;
  background-color:rgba(10, 26, 39, .8)
}
.csgo-navbar-inner-hover .nav-items {
  margin-left:224px;
  margin-right:290px
}
.csgo-navbar-inner-hover .nav-items li {
  color:#fff;
  font-size:18px;
  text-align:center;
  width:90px;
  float:left;
  position:relative
}
.csgo-navbar-inner-hover .nav-items li:not(:last-child) {
  margin-right:25px
}
.csgo-navbar-inner-hover .nav-items li a {
  color:#fff;
  font-size:14px;
  display:block;
  line-height:30px;
  white-space:nowrap
}
.csgo-navbar-inner-hover .nav-items li a:hover {
  text-decoration:underline
}
.bottom {
  height:120px
}
.foot_dl {
  top:30px
}
.foot_dl dt a {
  padding:0 20px
}
.foot_dl dd {
  width:720px;
  margin-top:-10px
}
.foot_dl dd p {
  padding-top:5px
}
.bottom .rel1100 .certificate {
  left:350px
}
.rel1100 {
  width:1000px
}
.bottom {
  color:#959595;
  font-size:12px;
  height:160px;
  z-index:1;
  font-family:Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, Helvetica Neue, Helvetica, "sans-serif";
  background-color:#000;
  background-repeat:no-repeat
}
.bottom, .rel1100 {
  position:relative
}
.rel1100 {
  width:1100px;
  margin:0 auto
}
.foot_dl {
  position:absolute;
  top:40px
}
.foot_dl dt {
  float:left;
  padding-left:7px
}
.foot_dl dt a {
  padding:0 12px;
  float:left
}
.foot_dl dt a.wanmei {
  border-right:1px solid #000
}
.foot_dl dd {
  font-size:12px;
  line-height:1.25;
  margin:0;
  float:right;
  max-width:750px
}
.bottom .rel1100 .certificate {
  color:#555;
  font-size:12px;
  text-align:center;
  line-height:1.5;
  position:absolute;
  left:230px;
  top:85px
}
采集#HUABAN_WIDGETS {
  font-family:"helvetica neue", arial, sans-serif;
  color: #444;
  font-size: 14px;
}
#HUABAN_WIDGETS * {
  box-sizing: content-box;
}
#HUABAN_WIDGETS .HUABAN-main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  background: rgba(229, 229, 229, .95);
  max-height: 100%;
  overflow: hidden;
  z-index: 9999999999999;
}
#HUABAN_WIDGETS a img {
  border: 0;
}
#HUABAN_WIDGETS .HUABAN-header {
  height: 50px;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-inner {
  margin: 0 auto;
  position: relative;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-close {
  width: 60px;
  height: 50px;
  border-left: 1px solid #ddd;
  position: absolute;
  right: 0;
  top: 0;
  background: url(https://huaban.com/img/widgets/btn_close.png) 20px 14px no-repeat;
  cursor: pointer;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-close:hover {
  background-position: 20px -26px;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-close:active {
  background-position: 20px -66px;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-logo {
  display: block;
  position: absolute;
  top: 12px;
}
#HUABAN_WIDGETS .HUABAN-waterfall-holder {
  position: relative;
  overflow-y: auto;
  height: 100%;
}
#HUABAN_WIDGETS .HUABAN-waterfall {
  position: relative;
  margin-top: 50px;
}
#HUABAN_WIDGETS .HUABAN-waterfall .HUABAN-empty {
  position: absolute;
  left: 50%;
  top: 30px;
  height: 36px;
  line-height: 36px;
  width: 216px;
  text-align: left;
  margin-left: -128px;
  color: #777;
  background: url(https://huaban.com/img/widgets/icon_notice.png) 12px 8px no-repeat white;
  padding-left: 40px;
  font-size: 15px;
}
#HUABAN_WIDGETS .HUABAN-btn {
  display: inline-block;
  border-radius: 2px;
  font-size: 14px;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  background: #D53939;
  color: white;
}
#HUABAN_WIDGETS .HUABAN-btn:hover {
  background: #E54646;
}
#HUABAN_WIDGETS .HUABAN-btn:active {
  background: #C52424;
}
#HUABAN_WIDGETS .HUABAN-wbtn {
  background: #EDEDED;
  color: #444;
}
#HUABAN_WIDGETS .HUABAN-wbtn:hover {
  background: #F2F2F2;
}
#HUABAN_WIDGETS .HUABAN-wbtn:active {
  background: #DDD;
}
#HUABAN_WIDGETS .HUABAN-f-button {
  position: absolute;
  display: none;
  z-index: 9999999999998;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
  background: #aaa;
  background: rgba(0, 0, 0, .3);
  color: white;
  cursor: pointer;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  font-size: 14px
}
#HUABAN_WIDGETS .HUABAN-f-button:hover {
  background-color: #999;
  background-color: rgba(0, 0, 0, .5);
}
#HUABAN_WIDGETS .HUABAN-f-button:active {
  background-color: rgba(0, 0, 0, .6);
}
#HUABAN_WIDGETS .HUABAN-red-normal-icon-button {
  width: 36px;
  height: 24px;
  border: 0px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 0px;
  text-align: left;
  background: url(https://huaban.com/img/widgets/widget_icons.png) 0 -200px no-repeat;
  box-shadow: none !important;
  font-size: 14px;
  background-color: transparent !important;
}
#HUABAN_WIDGETS .HUABAN-red-normal-icon-button:hover {
  background-position: -130px -200px;
}
#HUABAN_WIDGETS .HUABAN-red-normal-icon-button:active {
  background-position: -260px -200px;
}
#HUABAN_WIDGETS .HUABAN-red-large-icon-button {
  width: 80px;
  height: 24px;
  border: 0px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 0px;
  text-align: left;
  background: url(https://huaban.com/img/widgets/widget_icons.png) 0 -150px no-repeat;
  box-shadow: none !important;
  font-size: 14px;
  background-color: transparent !important;
}
#HUABAN_WIDGETS .HUABAN-red-large-icon-button:hover {
  background-position: -130px -150px;
}
#HUABAN_WIDGETS .HUABAN-red-large-icon-button:active {
  background-position: -260px -150px;
}
#HUABAN_WIDGETS .HUABAN-red-small-icon-button {
  width: 30px;
  height: 21px;
  border: 0px;
  line-height: 21px;
  padding-left: 20px;
  padding-right: 0px;
  text-align: left;
  background: url(https://huaban.com/img/widgets/widget_icons.png) 0 -250px no-repeat;
  box-shadow: none !important;
  font-size: 12px;
  background-color: transparent !important;
}
#HUABAN_WIDGETS .HUABAN-red-small-icon-button:hover {
  background-position: -130px -250px;
}
#HUABAN_WIDGETS .HUABAN-red-small-icon-button:active {
  background-position: -260px -250px;
}
#HUABAN_WIDGETS .HUABAN-white-normal-icon-button {
  width: 36px;
  height: 24px;
  border: 0px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 0px;
  text-align: left;
  background: url(https://huaban.com/img/widgets/widget_icons.png) 0 -500px no-repeat;
  box-shadow: none !important;
  color: #444;
  font-size: 14px;
  background-color: transparent !important;
}
#HUABAN_WIDGETS .HUABAN-white-normal-icon-button:hover {
  background-position: -130px -500px;
}
#HUABAN_WIDGETS .HUABAN-white-normal-icon-button:active {
  background-position: -260px -500px;
}
#HUABAN_WIDGETS .HUABAN-white-large-icon-button {
  width: 80px;
  height: 24px;
  border: 0px;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 0px;
  text-align: left;
  background: url(https://huaban.com/img/widgets/widget_icons.png) 0 -450px no-repeat;
  box-shadow: none !important;
  color: #444;
  font-size: 14px;
  background-color: transparent !important;
}
#HUABAN_WIDGETS .HUABAN-white-large-icon-button:hover {
  background-position: -130px -450px;
}
#HUABAN_WIDGETS .HUABAN-white-large-icon-button:active {
  background-position: -260px -450px;
}
#HUABAN_WIDGETS .HUABAN-white-small-icon-button {
  width: 30px;
  height: 21px;
  border: 0px;
  line-height: 21px;
  padding-left: 20px;
  padding-right: 0px;
  text-align: left;
  background: url(https://huaban.com/img/widgets/widget_icons.png) 0 -550px no-repeat;
  box-shadow: none !important;
  color: #444;
  font-size: 12px;
  background-color: transparent !important;
}
#HUABAN_WIDGETS .HUABAN-white-small-icon-button:hover {
  background-position: -130px -550px;
}
#HUABAN_WIDGETS .HUABAN-white-small-icon-button:active {
  background-position: -260px -550px;
}
#HUABAN_WIDGETS .HUABAN-cell {
  width: 236px;
  position: absolute;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  transition: left .3s ease-in-out, top .3s linear;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-img-holder {
  overflow: hidden;
  position: relative;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-img-holder:hover img.HUABAN-cell-img {
  opacity: .8
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-video-icon {
  width: 72px;
  height: 62px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -31px auto auto -36px;
  background: url(https://huaban.com/img/widgets/media_video.png) 0 0 no-repeat;
  display: none;
}
#HUABAN_WIDGETS .HUABAN-cell.HUABAN-video .HUABAN-video-icon {
  display: block;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-over {
  display: none;
}
#HUABAN_WIDGETS .HUABAN-cell:hover .HUABAN-over {
  display: block;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-over .HUABAN-btn {
  width: 60px;
  height: 34px;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -18px 0 0 -31px;
  line-height: 34px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
  font-size: 16px;
}
#HUABAN_WIDGETS .HUABAN-cell.HUABAN-long .HUABAN-img-holder {
  height: 600px;
}
#HUABAN_WIDGETS .HUABAN-cell.HUABAN-long .HUABAN-img-holder:after {
  content:"";
  display: block;
  position: absolute;
  width: 236px;
  height: 12px;
  left: 0;
  bottom: 0;
  background: url(https://huaban.com/img/widgets/long_image_shadow_2.png) repeat-x 4px top;
}
#HUABAN_WIDGETS .HUABAN-cell img {
  width: 236px;
  display: block;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-size {
  margin: 8px 16px;
  font-size: 12px;
  color: #999
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-description {
  display: block;
  width: 202px;
  margin: 0 6px 6px;
  padding: 6px 10px;
  border: 0;
  resize: none;
  outline: 0;
  border: 1px solid transparent;
  line-height: 18px;
  font-size: 13px;
  overflow: hidden;
  word-wrap: break-word;
  background: url(https://huaban.com/img/widgets/icon_edit.png) 500px center no-repeat;
}
#HUABAN_WIDGETS .HUABAN-cell:hover .HUABAN-description {
  background-color: #fff9e0;
  background-position: right top;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-description:focus {
  background-color: #F9F9F9;
  background-position: 500px center;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-select-btn {
  width: 34px;
  height:34px;
  background: url(https://huaban.com/img/widgets/checkbox.png) 0 0 no-repeat;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
#HUABAN_WIDGETS .HUABAN-cell .HUABAN-pinned-label {
  position: absolute;
  left: 0;
  top: 10px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  background: #CE0000;
  background: rgba(200, 0, 0, 0.9);
  color: white;
  font-size: 12px;
  display: none;
}
#HUABAN_WIDGETS .HUABAN-cell.HUABAN-pinned .HUABAN-pinned-label {
  display: block;
}
#HUABAN_WIDGETS .HUABAN-selected .HUABAN-select-btn {
  background-position: 0 -40px;
}
#HUABAN_WIDGETS .HUABAN-multi .HUABAN-cell .HUABAN-img-holder {
  cursor: pointer;
}
#HUABAN_WIDGETS .HUABAN-multi .HUABAN-cell .HUABAN-cell-pin-btn {
  display: none;
}
#HUABAN_WIDGETS .HUABAN-multi .HUABAN-cell .HUABAN-over {
  display: block;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-multi-buttons {
  position: absolute;
  top: 10px;
  left: 0;
  display: none;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-multi-buttons .HUABAN-btn {
  margin-right: 10px;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-multi-noti {
  display: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #999;
  font-weight: bold;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-multi-noti span {
  font-weight: normal;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-multi-noti i {
  font-style: normal;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-notice {
  padding: 0 10px;
  height:30px;
  line-height: 30px;
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -83px;
  background: #fff9e2;
  text-align: center;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-notice i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(https://huaban.com/img/widgets/icon_notice.png) 0 0 no-repeat;
  vertical-align: top;
  margin: 6px 6px 0 0;
}
#HUABAN_WIDGETS .HUABAN-switcher {
  height: 50px;
  width: 100px;
  position: relative;
}
#HUABAN_WIDGETS .HUABAN-switcher .HUABAN-title {
  position: absolute;
  right: 75px;
  top: 13px;
  color: #999;
  white-space: nowrap;
  line-height: 24px;
  opacity: 0;
  visibility: hidden;
}
#HUABAN_WIDGETS .HUABAN-switcher:hover .HUABAN-title {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -webkit-transition-delay: .2s;
  transition: opacity .2s linear;
  transition-delay: .2s;
}
#HUABAN_WIDGETS .HUABAN-switcher .HUABAN-bar {
  width: 40px;
  height: 24px;
  background: #EB595F;
  border-radius: 12px;
  color: white;
  position: absolute;
  right: 0;
  top: 13px;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
#HUABAN_WIDGETS .HUABAN-switcher:hover .HUABAN-bar {
  width: 64px;
}
#HUABAN_WIDGETS .HUABAN-switcher.HUABAN-on .HUABAN-bar {
  background: #7DD100;
}
#HUABAN_WIDGETS .HUABAN-switcher .HUABAN-bar .HUABAN-round {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transition: left .2s linear;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  transition: left .2s linear;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
#HUABAN_WIDGETS .HUABAN-switcher.HUABAN-on .HUABAN-bar .HUABAN-round {
  left: 17px;
}
#HUABAN_WIDGETS .HUABAN-switcher.HUABAN-on:hover .HUABAN-bar .HUABAN-round {
  left: 41px;
}
#HUABAN_WIDGETS .HUABAN-switcher .HUABAN-bar .HUABAN-text-1 {
  height: 24px;
  line-height: 24px;
  position: absolute;
  right:17px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
#HUABAN_WIDGETS .HUABAN-switcher:hover .HUABAN-bar .HUABAN-text-1 {
  right: 9px;
  opacity: 1;
  visibility: visible;
}
#HUABAN_WIDGETS .HUABAN-switcher.HUABAN-on:hover .HUABAN-bar .HUABAN-text-1 {
  right: 17px;
  opacity: 0;
  visibility: hidden;
}
#HUABAN_WIDGETS .HUABAN-switcher .HUABAN-bar .HUABAN-text-2 {
  height: 24px;
  line-height: 24px;
  position: absolute;
  left:17px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
#HUABAN_WIDGETS .HUABAN-switcher:hover .HUABAN-bar .HUABAN-text-2 {
  left: 17px;
  opacity: 0;
  visibility: hidden;
}
#HUABAN_WIDGETS .HUABAN-switcher.HUABAN-on:hover .HUABAN-bar .HUABAN-text-2 {
  left: 9px;
  opacity: 1;
  visibility: visible;
}
#HUABAN_WIDGETS .HUABAN-header .HUABAN-switcher {
  position: absolute;
  right: 0;
  top: 0;
}