.navtop {
  width: 100%;
  height: 114px;
  border-top: 2px solid #6b9ac8;
  background-color: #111521;
  position: fixed;
  z-index: 999;
  top: 0;
}

.navtop-main {
  width: 1233px;
  height: 80px;
  margin: 0 auto;
}
.navtop-main h1 {
  float: left;
}
.navtop-main h1 img {
  height: 64px;
  margin-top: 9px;
}

.navtop-main ul {
  float: left;
}

.navtop-main li {
  float: left;
  height: 80px;
  font-size: 18px;
  margin-left: 50px;
  padding-top: 24px;
  box-sizing: border-box;
}

.navtop-main a p:nth-child(2) {
  font-size: 13px;
}

.navtop-main li a {
  display: block;
  color: #fff;
  height: 100%;
  margin-top: -3px;
}

.navtop-main li:hover {
  border-bottom: 3px solid #6b9ac8;
}

.navtop-main-login {
  float: left;
  font-size: 14px;
  color: #fff;
  margin-left: 100px;
  line-height: 80px;
}

.navtop-main-login a {
  color: #566e95;
}

.navtop .guide {
  width: 100%;
  height: 34px;
  background: url(../img/bg_nav_btn.jpg) no-repeat;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 34px;
}

.navtop .guide .guide-span {
  display: inline-block;
  margin-left: 40px;
  width: 14px;
  height: 7px;
  /* background: url(../img/icon_navBtn.png) no-repeat; */
  /* transform:scaleZ(180deg) */
}
.rotate {
  background: url(../img/icon_navBtn.png) no-repeat;
  background-position-y: 0px;
}
.rotate1 {
  height: 215px;
  background: url(../img/icon_navBtn.png) no-repeat;
  background-position-y: -7px;
}

.guide-box {
  width: 100%;
  height: 215px;
  background-color: #d7d7d7;
}

.guide-box-conten {
  width: 1230px;
  height: 100%;
  margin: 0 auto;
}

.guide-box-conten li {
  position: relative;
  float: left;
  width: 234px;
  height: 136px;
  margin-top: 22px;
  margin-left: 12px;
  background: url(../img/process.jpg) no-repeat top;
}
.guide-box-conten li > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.guide-box-conten li a span {
  display: block;
  width: 184px;
  height: 35px;
  background-color: #453318;
  position: absolute;
  left: 27px;
  bottom: 27px;
  border-radius: 35px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #fff;
}
.guide-box-conten li:nth-child(2) p,
.guide-box-conten li:nth-child(3) p,
.guide-box-conten li:nth-child(5) p {
  box-sizing: border-box;
  padding-top: 56px;
  left: 18px;
  bottom: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 24px;
}
.guide-box-conten li:nth-child(2) p a,
.guide-box-conten li:nth-child(3) p a {
  color: #ff8054;
  text-decoration: underline;
  background: url(../img/icon_notes.png) no-repeat right center;
  padding-right: 20px;
}
.guide-box-conten li:nth-child(4) {
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 18px;
}

.guide-box-conten li:nth-child(4) p {
  line-height: 16px;
  color: #fff;
  font-size: 12px;
}
.guide-box-conten li:nth-child(4) p a {
  color: #ff8054;
  text-decoration: underline;
}

.guide-box-conten li:first-child {
  margin-left: 0;
}

.guide-box-conten li:nth-child(2) {
  background-position-y: -136px;
}
.guide-box-conten li:nth-child(3) {
  background-position-y: -272px;
}
.guide-box-conten li:nth-child(4) {
  background-position-y: -408px;
}
.guide-box-conten li:nth-child(5) {
  background-position-y: -544px;
}

.guide-box-conten_1 {
  width: 216px;
  height: 30px;
  float: left;
  position: relative;
  background: url(../img/process_bottom02.png) no-repeat center bottom;
}
.guide-box-conten_1 span {
  color: #826c4c;
  font-size: 16px;
  position: absolute;
  top: 20px;
  left: 66px;
}

.guide-box-conten_2 {
  width: 504px;
  height: 30px;
  float: left;
  margin-left: 146px;
  position: relative;
  background: url(../img/process_top.png) no-repeat center bottom;
}

.guide-box-conten_2 span {
  color: #27354e;
  font-size: 18px;
  position: absolute;
  top: 16px;
  left: 190px;
}

.guide-box-conten_3 {
  width: 216px;
  height: 30px;
  float: left;
  margin-left: 138px;
  position: relative;
  background: url(../img/process_bottom03.png) no-repeat center bottom;
}

.guide-box-conten_3 span {
  color: #826c4c;
  font-size: 16px;
  position: absolute;
  top: 16px;
  left: 21px;
}

.guide-box-conten_3 a {
  color: #ff8054;
  text-decoration: underline;
  padding-right: 20px;
  background: url(../img/icon_notes.png) no-repeat right center;
  position: absolute;
  top: 37px;
  left: 58px;
  font-size: 16px;
}

.main {
  /* margin-top: 116px; */
  position: relative;
  height: 1077px;
  width: 100%;
}
.main video {
  width: 100%;
  height: 100%;
}
.main > img {
  position: absolute;
  top: 196px;
  left: 310px;
}

.carousel {
  width: 1300px;
  height: 380px;
  background-color: pink;
  position: absolute;
  top: 347px;
  left: 310px;
}

.carousel-left {
  width: 880px;
  height: 100%;
  overflow: hidden;
  float: left;
}

.carousel-left .carousel-left-top {
  width: 3520px;
  height: 332px;
  background-color: red;
}
.carousel-left-top li {
  width: 880px;
  background-color: gold;
  height: 332px;
  float: left;
}
.carousel-left-bottom {
  width: 880px;
  height: 48px;
}
.carousel-left-bottom li {
  width: 220px;
  height: 100%;
  float: left;
  background-color: #040c13;
  font-size: 14px;
  text-align: center;
  line-height: 48px;
  color: #fff;
}
.carousel-left-bottom .list {
  background-color: #132b40;
}

.carousel-right {
  width: 420px;
  height: 100%;
  float: right;
}

.carousel-right-top {
  width: 420px;
  height: 125px;
}

.carousel-right-top video {
  width: 420px;
  height: 100%;
}

.carousel-right-bottom {
  width: 100%;
  height: 255px;
  background-color: #29658a;
  box-sizing: border-box;
  padding: 2px;
}

.carousel-right-bottom li {
  float: left;
  width: 136px;
  height: 81px;
  margin-left: 2px;
  margin-top: 2px;
  background-color: #2c7aa1;
  text-align: center;
  padding-top: 18px;
  box-sizing: border-box;
}

.carousel-right-bottom li span {
  display: block;
  font-size: 14px;
  color: #fff;
}

.carousel-right-bottom li img {
  transition: all 1s;
  transform: rotateY(0deg);
}
.carousel-right-bottom li:hover {
  background-color: #3688b4;
}
.carousel-right-bottom li:hover img {
  transition: all 1s;
  transform: rotateY(360deg);
}

.news {
  width: 100%;
  height: 855px;
  background: url(../img/bg-news_f07d62cb274d407410bab85f06984428.jpg);
  margin-top: -4px;
  position: relative;
}

.news-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  padding: 90px 0 40px;
}

.news-inner {
  position: absolute;
  height: 602px;
  width: 1300px;
  background: url(../img/bg-panel_d40e87df416329b2d7fee5f36f705ea4.jpg)
    no-repeat;
  top: 166px;
  left: 310px;
}

.news-inner-left {
  width: 820px;
  height: 100%;
  float: left;
}
.panel-tabs {
  overflow: hidden;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
.panel-tabs li {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  float: left;
  position: relative;
  margin-left: 25px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}
.news-panel .col-left {
  width: 880px;
  padding: 6px 30px 30px;
}
.panel-tabs li.active {
  border-bottom-color: #fff;
}
.panel-tabs li:not(.active):before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: 100%;
  bottom: -4px;
  z-index: 2;
  border-bottom: 4px solid;
  -webkit-transition: all 0.2s linear;
  -o-transition: 0.2s all linear;
  transition: all 0.2s linear;
}

.panel-tabs li:not(.active):hover:before {
  width: 100%;
  left: 0;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.panel-tabs li:not(.active):hover ~ li:before {
  left: 0;
}

.panel-tabs li.active {
  border-bottom-color: #fff;
}

.m-list-items {
  color: #fff;
  font-size: 16px;
}

.m-list-item {
  display: none;
  padding: 0 25px;
}
.m-list-item.active {
  display: block;
}
.m-list-item .link-btn {
  margin: 0 -25px;
}

.m-list-horizontal {
  height: 144px;
  margin: 36px 0 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.m-list-horizontal dd,
.m-list-horizontal dt {
  height: 144px;
}

.m-list-horizontal dt {
  width: 214px;
  height: 144px;
  overflow: hidden;
  float: left;
}

.m-list-horizontal dt img {
  width: 100%;
  height: 100%;
}

.m-list-horizontal dd {
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.m-list-horizontal dd h4 {
  font-size: 24px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}

.m-list-horizontal dd p {
  height: 58px;
  line-height: 120%;
  overflow: hidden;
  margin-top: 12px;
}

.m-list-horizontal dd span {
  font-size: 14px;
  position: absolute;
  right: 20px;
}

.m-list-vertical {
  overflow: hidden;
  margin-bottom: 23px;
  margin-top: 18px;
}

.m-list-vertical li {
  line-height: 45px;
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  padding-right: 55px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.m-list-vertical li:before {
  content: "";
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 20px;
  background-color: #fff;
}

.m-list-vertical li .date {
  font-size: 14px;
  position: absolute;
  right: 0;
}

.m-list-vertical li a {
  color: #fff;
}

.m-list-vertical li a:hover {
  text-decoration: underline;
}

.m-list-item .link-btn {
  display: block;
  width: 820px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  margin: 0 -25px;

  background-color: hsla(0, 0%, 100%, 0.3);
}
.m-list-item .link-btn:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
}

.news-inner-right {
  float: right;
  padding-top: 12px;
  box-sizing: border-box;
}

.news-inner-right li {
  margin-top: 20px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}
.news-inner-right li span {
  color: #eee;
  font-size: 12px;
  text-align: center;
  width: 50px;
  height: 15px;
  line-height: 15px;
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 20;
  padding-left: 10px;
  background-image: url(../img/event_tab.png);
  background-position-y: -30px;
  background-repeat: no-repeat;
}
.news-inner-right a {
  display: block;
  width: 390px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  background-color: hsla(0, 0%, 100%, 0.3);
  margin-top: 10px;
}

.news-inner-right a:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
}

.referral {
  position: relative;
  height: 890px;
  background: url(../img/bg_game_wuqi_3a001facf8bb95e214be7fd15e016174.jpg);
}
.referral-box {
  width: 1300px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 310px;
}
.referral-title {
  font-size: 38px;
  color: #fff;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

.referral-top {
  text-align: center;
  height: 72px;
  line-height: 72px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  margin-top: -25px;
}
.referral-top a {
  color: #fff;
  position: relative;
}
.referral-top a:after {
  content: "";
  width: 15px;
  height: 9px;
  position: absolute;
  top: 33px;
  right: 2px;
  background-image: url(../img/sprite_18c6ec7fb344f724dae84d6ed.png);
  background-position: -136px -172px;
}
.referral-top a.active {
  border-bottom: 4px solid #fff;
}
.referral-top a:not(:last-child) {
  margin-right: 50px;
}

.referral-top a:not(.active):before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: 100%;
  bottom: -4px;
  z-index: 2;
  border-bottom: 4px solid;
  -webkit-transition: all 0.2s linear;
  -o-transition: 0.2s all linear;
  transition: all 0.2s linear;
}
.referral-top a:not(.active):hover:before {
  height: 72px;
  width: 100%;
  left: 0;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.referral-top a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  width: 90px;
  height: 68px;
  position: relative;
  padding-right: 10px;
}
.box .cont.active {
  display: block;
}
.box .cont {
  display: none;
  text-align: center;
  height: 72px;
  line-height: 72px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
/*武器开始 */

.cont a.active {
  color: #fff;
  height: 68px;
  border-bottom: 4px solid #fff;
}
.cont a {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  height: 68px;
  margin: 0 15px;
  padding: 0 5px;
  position: relative;
}
.cont a.active img {
  opacity: 1;
}
.cont a img {
  vertical-align: middle;
  opacity: 0.5;
}
.cont a:not(.active):before {
  content: "";
  width: 0;
  height: 68px;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 4px solid;
  -webkit-transition: all 0.2s linear;
  -o-transition: 0.2s all linear;
  transition: all 0.2s linear;
}
.cont a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.cont a:not(.active):hover:before {
  width: 100%;
  left: 0;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.cont a .badge {
  border: 1px solid;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 2px;
  position: relative;
  top: -2px;
}
.game-tab2-box {
  display: none;
}

.game-tab2-box.active {
  display: block;
}
.game-tab2-box-item {
  display: none;
}

.game-tab2-box-item.active {
  display: block;
}
.weapon-property {
  color: #fff;
  font-size: 14px;
  width: 336px;
  margin-top: 60px;
}
.weapon-property-hd {
  margin-bottom: 30px;
}
.weapon-property-hd .name {
  font-size: 60px;
  font-weight: 700;
  display: block;
  line-height: 1;
  white-space: nowrap;
}
.weapon-property-bd .row {
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
}
.weapon-property-bd .progress {
  background: #224a41;
  background: -webkit-linear-gradient(left, #224a41, #2a6f6a);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#224a41),
    to(#2a6f6a)
  );
  background: -o-linear-gradient(left, #224a41 0, #2a6f6a 100%);
  background: linear-gradient(90deg, #224a41 0, #2a6f6a);
  width: 0;
  position: absolute;
  left: 0;
  top: 3px;
  bottom: 3px;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224a41",endColorstr="#2a6f6a",GradientType=1);
  -webkit-transition: 1.2s ease-out;
  -o-transition: 1.2s ease-out;
  transition: 1.2s ease-out;
  transition: all 1s;
}
.weapon-property-ft {
  color: #fff;
  line-height: 24px;
  margin-top: 30px;
}
.weapon-pic {
  height: 540px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 560px;
}
.weapon-tabs {
  text-align: center;
  width: 964px;
  height: 94px;
  position: absolute;
  top: 384px;
  right: 0;
}
.weapon-tabs-item {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 15px;
  position: relative;
}
.weapon-tabs-item .pic {
  height: 55px;
  position: relative;
}
.weapon-tabs-item .name {
  color: #768394;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  margin-top: 10px;
  min-width: 40px;
}
.weapon-tabs-item.active .name {
  color: #fff;
}
.weapon-tabs-item.active .name:after {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  right: 0;
  border-top: 4px solid;
}
.weapon-tabs-item:after {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  top: 60px;
  right: -5px;
  background-color: rgba(118, 131, 148, 0.2);
}

.weapon-tabs-item:not(.active):before {
  content: "";
  width: 0;
  height: 68px;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 4px solid;
  -webkit-transition: all 0.2s linear;
  -o-transition: 0.2s all linear;
  transition: all 0.2s linear;
}
.weapon-tabs-item .pic img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.4;
}
.weapon-tabs-item a:not(.active):hover:before {
  height: 72px;
  width: 100%;
  left: 0;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.weapon-pic {
  display: none;
}
.weapon-pic.active {
  display: block;
}
.weapon-tabs-item.active .pic img {
  opacity: 1;
}
.weapon-tabs-item:not(.active):hover .name:after {
  width: 100%;
  left: 0;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.weapon-tabs-item:not(.active) .name:after {
  content: "";
  width: 0;
  position: absolute;
  left: 100%;
  top: -13px;
  right: 0;
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  -o-transition: 0.2s all linear;
  transition: all 0.2s linear;
  border-top: 4px solid;
}

/*武器结束 */

/*地图开始 */
.game-tab2-box {
  /* padding-top: 50px; */
}
.game-tab2-box-item {
  display: none;
  position: relative;
  color: #fff;
}
.col-text {
  width: 340px;
  margin-right: 65px;
}
.col-text h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}
.col-text p {
  margin: 30px 0;
}
.col-text li {
  position: relative;
  padding-left: 10px;
}
.col-text li:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 14px;
  background-color: #fff;
}
.moshi-box-images {
  font-size: 0;
  overflow: hidden;
  zoom: 1;
}
.moshi-box-images img {
  vertical-align: top;
  margin-left: 15px;
  margin-bottom: 35px;
  max-width: 100%;
}
/*地图结束 */

.dianjing {
  height: 782px;
  width: 100%;
  background: url(../img/bg_dianjing_3d4680799b2137c03b728c20db0e7792.jpg);
}
.module-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  padding: 90px 0 40px;
}
.dianjing-con {
  width: 1300px;
  height: 478px;
  margin: 0 auto;
  background: url(../img/bg_dianjing2_9d0aaa01753781ec4026ad8ba39f9b12.jpg);
  overflow: hidden;
}

.dianjing-con-left {
  width: 605px;
  height: 412px;
  background-color: #244354;
  margin-top: 30px;
  margin-left: 30px;
  float: left;
}

.dianjing-con-right {
  float: left;
  width: 606px;
  height: 412px;
  margin-top: 30px;
  margin-left: 30px;
}
.slider {
  height: 270px;
  width: 605px;
  position: relative;
}

.slider li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.slider li:first-child {
  display: block;
}

.arrow {
  display: none;
}

.slider:hover .arrow {
  display: block;
}

.arrow-left,
.arrow-right {
  font-family: "SimSun", "宋体";
  width: 30px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.control {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-left: -85px;
}

.control a {
  float: left;
  width: 10px;
  height: 10px;
  background-color: rgba(162, 179, 190, 0.4);
  border: 1px solid #ccc;
  margin-right: 5px;
}

.control a + a {
  margin-right: 5px;
}

.control a.active {
  background-color: #fff;
}
.dianjing-con-left-bottom {
  position: relative;
  height: 142px;
}
.dianjing-con-left-bottom li.active {
  display: block;
}
.box_skitter_esports_nav_bottom {
  color: #fff;
  height: 144px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #244354;
}
.box_skitter_esports_nav_bottom li {
  color: #fff;
  display: none;
  padding: 0 25px;
}
.box_skitter_esports_nav_bottom h3 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.box_skitter_esports_nav_bottom p {
  font-size: 16px;
  line-height: 1;
}
.box_skitter_esports_nav_bottom .p1 {
  margin-top: 8px;
}
.box_skitter_esports_nav_bottom .p2 {
  margin-top: 24px;
}
.box_skitter_esports_nav_bottom .p2 b {
  margin: 0 60px 0 22px;
}
.match-list {
  color: #fff;
  text-align: center;
  width: 606px;
  -webkit-user-select: none;
  /* margin-left: 28px; */
  margin-right: 30px;
  position: relative;
}
.match-list-hd {
  font-size: 24px;
  font-weight: 700;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
.match-list-hd div {
  float: left;
}

.match-list .col-saishi {
  width: 90px;
}
.match-list .col-shijian {
  width: 155px;
}
.match-list .col-duizheng {
  width: 220px;
}
.match-list .col-bifen {
  width: 138px;
}
.match-list-bd {
  height: 360px;
  overflow: auto;
}
.match-list-bd::-webkit-scrollbar {
  width: 1px;
  background-color: #627690;
}

/*定义滑块 内阴影+圆角*/
.match-list-bd::-webkit-scrollbar-thumb {
  width: 4px;
  height: 18px;
  background-color: #c4cfdb;
  border: 1px solid #cedaea;
}
/*定义最上方和最下方的按钮*/
.match-list-bd::-webkit-scrollbar-button {
  height: 0;
}

.match-list .row {
  height: 72px;
  line-height: 72px;
  overflow: hidden;
}

.match-list .row div {
  float: left;
}
.match-list .col-saishi {
  width: 90px;
}
.match-list .col-saishi img {
  max-width: 60px;
  margin-top: 14px;
}
.match-list .col-shijian {
  width: 155px;
}
.match-list .col-duizheng img {
  vertical-align: middle;
  max-width: 60px;
}
.match-list .col-duizheng span {
  font-size: 14px;
  font-weight: 700;
  margin: 0 20px;
}
.match-list .col-duizheng img {
  vertical-align: middle;
  max-width: 60px;
}
.match-list .col-bifen {
  width: 138px;
}
.match-list .col-bifen .s1,
.match-list .col-bifen .s3 {
  border-radius: 2px;
  font-size: 24px;
  font-weight: 700;
  width: 38px;
  height: 55px;
  line-height: 55px;
  background-color: hsla(0, 0%, 100%, 0.2);
}
.match-list .col-bifen .s2 {
  color: hsla(0, 0%, 100%, 0.4);
  font-size: 20px;
  margin: 0 5px;
}
#boxscroll {
  overflow: auto;

  margin-bottom: 20px;
}

.core {
  height: 820px;
  width: 100%;
  background: url(../img/bg_gonglue_7c80ede488392176891562ad7b6a706f.jpg);
}
.module-inner {
  width: 1300px;
  margin: 0 auto;
}

.gonglue-col {
  width: 630px;
  float: left;
}

.col-right {
  margin-left: 30px;
}
.m-list-horizontal {
  color: #fff;
  height: 144px;
  margin: 36px 0 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.m-list-horizontal dt {
  width: 214px;
  height: 144px;
  overflow: hidden;
  float: left;
}
.m-list-horizontal dd {
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.m-list-horizontal dd p {
  height: 58px;
  line-height: 120%;
  overflow: hidden;
  margin-top: 12px;
}

.m-list-vertical li span {
  color: #fff;
}
.gonglue-col  .m-list-item {
  display: none;
}
.gonglue-col  .m-list-item.active {
  display: block;
}
.core .link-btn {
  width: 635px;
}.m-list-imgtxt li {
  float: left;
  width: 278px;
  height: 188px;
  margin-bottom: 17px;
}.m-list-imgtxt li:not(:nth-of-type(2n)) {
  margin-right: 20px;
}.m-list-imgtxt {
  overflow: hidden;
  margin-top: 36px;
}
.m-list-imgtxt .item .pic {
  width: 278px;
  height: 147px;
  overflow: hidden;
}.m-list-imgtxt .item .pic img {
  width: 100%;
  height: 100%;
}.m-list-imgtxt .item h3 {
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background-color: #5d6e83;
  cursor: pointer;
  font-weight: 400;
}


.footer {
  height: 221px;
  width: 100%;
  margin-top: -3px;
  background: url(../img/bg_quangwang.jpg);
  overflow: hidden;
}

.footer-w {
  width: 1314px;
  height: 42px;
  margin: 0 auto;
  margin-top: 96px;
}
.footer-w a {
  float: left;
  height: 100%;
}
.footer-w .footer-icon1 {
  width: 106px;
  background: url(../img/footer.png) no-repeat;
}

.footer-w .footer-icon2 {
  width: 122px;
  background: url(../img/footer.png) no-repeat;
  margin-left: 50px;
  background-position-x: -142px;
}
.footer-w .footer-icon3 {
  width: 106px;
  margin-left: 34px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -300px;
}
.footer-w .footer-icon4 {
  width: 91px;
  margin-left: 128px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -526px;
}
.footer-w .footer-icon5 {
  width: 91px;
  margin-left: 40px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -654px;
}
.footer-w .footer-icon6 {
  width: 91px;
  margin-left: 48px;
  background: url(../img/footer.png) no-repeat;
  background-position-x: -778px;
}
.footer-w .footer-icon7 {
  width: 170px;
  margin-left: 140px;

  background: url(../img/footer.png) no-repeat;
  background-position-x: right;
}

.footer-w a:hover {
  background-position-y: -44px;
}

.footer-w a:nth-child(n + 4):hover {
  background-position-y: -42px;
}
.bottom {
  width: 100%;
  height: 152px;
  background-color: #000000;
}

.footer-w .footer-icon5 img,
.footer-w .footer-icon4 img {
  position: absolute;
  margin-top: -166px;
  margin-left: -30px;
  z-index: 222;
  display: none;
}

.footer-w .footer-icon5:hover img,
.footer-w .footer-icon4:hover img {
  display: block;
}



.bottom {
  height: 160px;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  font-size: 12px;
}

.bottom-top {
  margin-top: 40px;
}
.bottom-top div {
  float: left;
  color: #999;
}

.bottom-top img:nth-child(1) {
  margin-left: 362px;
}
.bottom-top img:nth-child(2) {
  margin-left: 27px;
}

.bottom-top-right {
  margin-left: 12px;
}
.bottom-title {
  color: #555555;
  text-align: center;
  margin-top: 23px;
}

.bottom-title p {
  width: 756px;
  margin: 0 auto;
}
.bottom-title a {
  color: #53bdfa;
}

.bottom-title a img {
  float: left;
  margin-top: -2px;
}
